<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create City</title>
</head>
<body>
<h1>Create City</h1>
<p>
    <a href="/">City list</a>
</p>

<form action="/create"  method="post" th:object="${city}" >
    <table>
        <tr>
            <td>Tên:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Quốc gia:</td>
            <td>
                <select name="country">
                    <option
                            th:each="c : ${country}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Diện tích :</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input type="text" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>GDP:</td>
            <td><input type="text" th:field="*{gdp}"/></td>
        </tr>
        <tr>
            <td>Giới thiệu :</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>