<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>View City</title>
</head>
<body>
<h1>View City</h1>
<a href="/">List City</a>
<table>
    <tr>
        <td>Tên:</td>
        <td th:text="${city.name}"></td>
    </tr>
    <tr>
        <td>Thành Phố:</td>
        <td th:text="${city.country.name}"></td>
    </tr>
    <tr>
        <td>Diện tích:</td>
        <td th:text="${city.area}"></td>
    </tr>
    <tr>
        <td>Dân số:</td>
        <td th:text="${city.population}"></td>
    </tr>
    <tr>
        <td>GDP:</td>
        <td th:text="${city.gdp}"></td>
    </tr>
    <tr>
        <td>Giới thiệu:</td>
        <td th:text="${city.description}"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Update"></td>
    </tr>
</table>
</body>
</html>